
<p>Simple API call on api.getYourUserProfile() or new UsersApi().usersGetUser('me') xxxrr</p>
<div class="error"><%= error %></div>
<hr/>

<p>ID: <%= user.referenceCode %></p>
<p>Username: <%= user.username %></p>
<p>Avatar: </p><img src='<%= user.avatarUrl %>'/></p>
<p>Found: <%= user.findCount %></p>
<p>Hide: <%= user.hideCount %></p>
<p>Favorite points : <%= user.favoritePoints %></p>
<p>membershipLevelId: <%= user.membershipLevelId %></p>
<p>homeCoordinates: <%= user.homeCoordinates.latitude %>,<%= user.homeCoordinates.longitude %></p>

<hr>
<p>storage: <%= user.storage ? user.storage : '-' %></p>
<code>AccessToken: <%= token %></code>
<hr>
<code><%= data %></code>

<hr/>
<%- user.profileText %>

    